<div class="body_payment_confirmation">
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    FAQ
  </div>
    <div class="payment_confirmation_text">
      <p>
        Kako deluje sistem mreže servisov na splošno?<br><br>
        Na splošno je vsak samozaposlen, povezani smo preko aplikacije. Dela pridobivamo vsi - preko Sosed.si spletne strani in na sploh skupaj vsi partnerji v mreži.  O pogojih sodelovanja pa lahko več preberete v našem <% link_to "Dogovoru o sodelovanju", terms_of_use_path %>.
      </p><br>

      <p>
        Glede na to, da gre za servis, ali to pomeni, da se moramo izvajalci oglasiti pri stranki ali se lahko vse skupaj dogaja "remote"? Glede na to, da smo nekateri zaposleni, je to možno izvajati popoldne oz. zvečer in kako se dejansko to izvede? Je potrebno stranko poklicali ali se naredi online help - kaj če sem na sestanku pa me stranka potrebuje?<br><br>
        Ko nam stranka pošlje povpraševanje ali pokliče, ga objavimo na začetni strani. Prvi serviser, ki je prost in je na voljo v strankini okolici (poskusili bomo poskrbeti, da sta v določenem okolišu registrirana vsaj dva), potrdi servis. Tako da če nimate časa, servisa preprosto ne potrdite. Če pa mi ne najdemo prostega serviserja pa vas kontaktiramo, kdaj bi imeli čas in poskusimo prestaviti servis. <br>
        Torej, ko potrdite, se zavezujete, da boste šli ob dogovorjeni uro do stranke, sicer pa nimate nobene obveze.
      </p><br>

      <p>
        Kaj pomeni, da sem lahko so-avtor aplikacije? Kakšni stroški so povezani s tem oz. na kakšen način ste si to zamislili?<br><br>
        Glede so-avtorstva bi radi v prihodnosti našli dovolj močan team serviserjev, ki bi bili dovolj povezani in bi delili skupno vizijo, da bi skupaj tvorili ekipo, ki si izmenjuje servise - takrat, ko nimate ustreznega zanja ali dovolj časa, preprosto objavite servis na aplikaciji in ga prevzame nekdo drug in obratno. Kot sistem Torrentov - enkrat seješ, drugič žanješ in če so vsi v istem filmu, zadeva deluje.
      </p><br>

      <p> Niste prejeli odgovora na vaše vprašanje?
        <%= mail_to "nina.breznik@sosed.si", "Pišite nam!" %></div>
      </p>

    </div>
</div>
</div>
