<div class="body_wallet_payment">
<div class="wallet_payment_offer">
  <div class="wallet_payment_offer_title">
    PROVIZIJA
  </div>
  <div class="wallet_payment_offer_promotion">
    Provizije ni.
  </div>
    <div class="wallet_payment_offer_instructions">
      POVEZAVE:<br><br>
      <i class="fa fa-file-o"></i> <%= link_to "DOGOVOR O SODELOVANJU", terms_of_use_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "PROMO STRAN - s promocijskim materialom", promo_path %><br><br>
      <i class="fa fa-file-o"></i> <%= link_to "FAQ", faq_path %><br><br>
    </div> <br><br>
    </div>
</div>
