<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Sosed Roadmap (načrti za nadgradnjo)
  </div>
  <div class="payment_confirmation_text">
    Imate idejo, predlog, vprašanje glede smernic razvoja? Sporočite nam na <a href="https://gitter.im/sosed_si_app/Lobby#">CHAT</>

  </div>
  <div class="payment_confirmation_text">
    <i class='fa fa-arrow-left'></i> <%= link_to "Nazaj", price_list_path %>
  </div>

</div>
</div>
