<div class="body_wallet_payment">
<div class="wallet_payment_offer">
  <div class="wallet_payment_offer_title">
    Dogovor o sodelovanju
  </div>
  <div class="wallet_payment_offer_promotion">
    Sosed.si se preusmerja v aplikacijo za posredovanje del servierjev. Uporaba aplikacije je brezplačna.
    Preko strani Sosed.si bomo stranke usmerjali na aplikacijo, tako da bodo povpraševanja pošiljali direktno
    na LeadShareApp.com. Uporaba aplikacije je brezplačna in za posredovanje naročil ne zaračunavamo nobene provizije,
    tudi drugih skritih stroškov ni, uporaba je povsem brezplačna.
  </div>
  <div class="wallet_payment_offer_promotion">
    Naša želja je, da storitve opravite visoko kvalitetno,
    da ste pri stranki točni, morda še kakšno minuto prej,
    da imate s sabo, če se le da, svoje copate, da v kolikor odnesete računalnik na servis,
    stranko obvestite, koliko časa okvirno bo trajalo popravilo, nato pa jo naslednji dan obvestite, kaj je
    pokazala diagnoza in se dogovorite o dnevu vračila ter ceni.
  </div>
  <div class="wallet_payment_offer_promotion">
    Ideja je, da se ustvari ekipa serviserjev, ki si med sabo delijo stranke in skupaj rešujejo
    zaplete, si delijo izkušnje in znanja ter si pomagajo na trgu dela. Ni enostavno biti mali podjetnik,
    zato je pomembno, da si med seboj pomagate in kadar ste preveč zasedeni, vi delite stranko z drugimi in naslednjič obratno.
  </div>
  <div class="wallet_payment_offer_promotion">
    Sosed.si aplikacija je odprta koda, objavljena je na tem naslovu https://github.com/ninabreznik/sosed_si_app.
    Licenca je odprta, če se odločite za uporabo, je pogoj le, da svojo verzijo delite z ostalimi, torej prispevate nazaj.
    Na naslovu https://gitter.im/sosed_si_app/Lobby pa najdete open chat, kjer lahko člani med seboj odprto komunicirate in
    seveda k sodelovanju povabite tudi somišljenike.
  </div>
  <div class="wallet_payment_offer_promotion">
    Veliko uspeha vam želim!
  </div>
    <div class="wallet_payment_offer_instructions">
      Nina Breznik, programerka pri LeadShareApp in soustanoviteljica Sosed.si
    </div>
</div>
</div>
