<div class="body_payment_confirmation">
<a class="to_address_book" href="/address_book"></a>
<div class="payment_confirmation_wrapper">
  <div class="payment_confirmation_title">
    Ustvarili ste svojo afiliacijsko kodo!
  </div>
  <div class="payment_confirmation_text">Svojo afililiacijsko kodo in afiliacijski link najdete na profilu.<br><br>
    <i class='fa fa-arrow-left'></i> <%= link_to "Nazaj na profil", profile_path %>
  </div>

</div>
</div>