<div class="bottom_menu_bar">
  <a class="button_home" href="/"><i class="fa fa-home"></i><span>www.leadshareapp.com</span></a>
  <a class="button_reserved" href="/reserved"><i class="fa fa-star"></i><span>https://github.com/ninabreznik/sosed_si_app</span></a>
</div>
